<div class="modal" tabindex="-1" id="modalusuario">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ingrese credenciales</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row">
                <h6 id="nombre de usuario"></h6>
                <input type="text" id="cantidadCompra" placeholder="Alvaro">
                <h6 id="contraseña"></h6>
                <input type="password" id="cantidadCompra" placeholder="password">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Ingresar</button>
            </div>
        </div>
    </div>
</div>